 
   
      <!-- blog section start --> 
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-sm-12">
                  <div class="about_img"><img src="assets/images/img-8.png"></div>
                  <div class="like_icon"><img src="assets/images/like-icon.png"></div>
                  <p class="post_text">Post By : 09/06/2019</p>
                  <h2 class="most_text"> Blogpost: Kravica Waterfall <br>River</h2>
                  <p class="lorem_text">Kravica Waterfall is a large tufa cascade on the Trebižat River, in the karstic heartland of Herzegovina in Bosnia and Herzegovina. It is 10 kilometres south of Ljubuški and 40 kilometres south of Mostar.</p>
                  <div class="social_icon_main">
                     <div class="social_icon">
                        <ul>
                           <li><a href="#"><img src="assets/images/fb-icon.png"></a></li>
                           <li><a href="#"><img src="assets/images/twitter-icon.png"></a></li>
                           <li><a href="#"><img src="assets/images/instagram-icon.png"></a></li>
                        </ul>
                     </div>
                     <div class="read_bt"><a href="#about">Read More</a></div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-12">
                  <div class="about_main">
                     <h1 class="follow_text">CONNECT & FOLLOW</h1>
                     <div class="follow_icon">
                        <ul>
                           <li><a href="#"><img src="assets/images/fb-icon-1.png"></a></li>
                           <li><a href="#"><img src="assets/images/twitter-icon-1.png"></a></li>
                           <li><a href="#"><img src="assets/images/linkedin-icon-1.png"></a></li>
                           <li><a href="#"><img src="assets/images/instagram-icon-1.png"></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- blog section end --> 
