
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-sm-12">
                  <div class="about_img"><img src="assets/images/img-10.png"></div>
                  <div class="like_icon"><img src="assets/images/like-icon.png"></div>
                  <p class="post_text">Post By : 09/06/2019</p>
                  <h2 class="most_text">New tour by us: Hajdučka vrata</h2>
                  <p class="lorem_text">The Hajducka vrata is a symbol of the Blidinje Nature Park and is an unforgettable hiking adventure. The Hajducka vrata is a large stone ring located 2000 meters above sea level and is an unforgettable hiking adventure.</p>
                  <div class="social_icon_main">
                     <div class="social_icon">
                        <ul>
                           <li><a href="#"><img src="assets/images/fb-icon.png"></a></li>
                           <li><a href="#"><img src="assets/images/twitter-icon.png"></a></li>
                           <li><a href="#"><img src="assets/images/instagram-icon.png"></a></li>
                        </ul>
                     </div>
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-12">
                  <div class="newsletter_main">
                     <h1 class="recent_taital">Recent post</h1>
                     <div class="recent_box">
                        <div class="recent_left">
                           <div class="image_6"><img src="assets/images/img-6.png"></div>
                        </div>
                        <div class="recent_right">
                           <h3 class="consectetur_text">WHY IS BAKLAVA SO SPECIAL?</h3>
                           <p class="dolor_text">After an interview in a local village... </p>
                        </div>
                     </div>
                     <div class="recent_box">
                        <div class="recent_left">
                           <div class="image_6"><img src="assets/images/img-7.png"></div>
                        </div>
                        <div class="recent_right">
                           <h3 class="consectetur_text">BUREK WITH MEAT?</h3>
                           <p class="dolor_text"> Things not to say while ordering pie in Bosnia and more...</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   